@import "./normalize.css";
@import "./default.css";
@import "./fonts.css";
@import "./variables.css";

.Section {
   position: relative;
   height: 100vh;
   max-height: 900px;
   overflow: hidden;
   padding-inline: var(--Vertical-Squeeze);
}

.Heading {
   font-family: "Raleway";
   font-style: normal;
   font-weight: bold;
   font-size: 90.229px;
   letter-spacing: 0.01em;
   background: var(--Heading-Text-Gradient);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   flex: none;
   order: 0;
   flex-grow: 0;
}
