a {
   color: inherit;
   text-decoration: none;
}

button {
   background-color: transparent;
   border: none;
   cursor: pointer;
   color: inherit;
}

input {
   color: inherit;
   font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
menu,
ul {
   padding: 0;
   font-family: inherit;
   margin: 0;
}

html {
   scrollbar-color: green;
}
