@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@font-face {
   font-family: "Product Sans";
   src: url(@/assets/fonts/Product%20Sans/Product%20Sans%20Regular.ttf);
}

body {
   font-family: "Product Sans", Verdana, Geneva, Tahoma, sans-serif;
}
