.sidebar-enter-active,
.sidebar-leave-active {
   transition-duration: 500ms;
}
.sidebar-enter-from,
.sidebar-leave-to {
   opacity: 0;
}

.fade-leave-enter-active,
.fade-leave-leave-active {
   transition-duration: 500ms;
}
.fade-leave-leave-to {
   transform: translateX(10%);
   opacity: 0;
}
.fade-leave-enter-from {
   opacity: 0;
   transform: translateX(-10%);
}
